<div class="ui cards">
  <div class="ui raised card" *ngFor="let node of nodes" [ngClass]="{'isOnline': node.online}">
    <div class="header">{{node.name}}</div>
    <hr />
    <div class="body">
      <ul>
        <li><strong>Online: </strong>{{node.online ? 'Ja' : 'Nee'}}</li>
        <li *ngFor="let gateway of node.gateways; let i = index;"><strong>{{gateway.name}}:</strong>
          {{ gateway.measurements[gateway.measurements.length-1] !== undefined ?
          gateway.measurements[gateway.measurements.length-1].value : 'null'}} </li>
      </ul>
    </div>
  </div>
</div>
